@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

body {
    background-image: url(https://i.ytimg.com/vi/3uU562ZdiZs/maxresdefault.jpg);
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    text-align: center;
}